body {
  overflow: hidden;
  background-image: url(gradiant.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: #d3d1d13d;
  border-radius: 16px;
  height: 500px;
  width: 415px;
}

.button {
  width: 80px;
  font-size: 30px;
  border-radius: 50px;
  border-color: transparent;
  margin: 10px;
  height: 60px;
}

.button:hover {
  background-color: rgba(145, 145, 145, 0.301);
  cursor: pointer;
}

.button:active {
  background-color: rgba(66, 66, 66, 0.301);
}

.screen {
  font-size: 50px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 16px;
  text-align: right;
  padding-right: 10px;
  width: 350px;
  top:4%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.all_buttons {
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all_buttons > div {
  display: flex;
}

.row4 {
  position: absolute;
  top: 100%;
  left: 0%;
}

.row5 {
  position: absolute;
  top: 133%;
  left: 0.5%;
}

#equals {
  position: absolute;
  left: 100%;
  height: 140px;
}

@media (max-width: 418px) {
  .container {
    width: 350px; 
    max-width: 415px; 
  }

  .screen {
    width: 270px; 
  }

  .all_buttons {
    width: 400px; 
  }

  .button {
    width: 60px; 
    margin: 10px;
  }

  .row4 {
    width: 88%;
    left: 10%;
  }

  .row5 {
    width: 88%;
    left: 10%;
  }

  .row4 .button,
  .row5 .button {
    width: 60px;
    margin: 10px;
    padding: 0px 0px 0px 0px;
  }

  #equals {
    position: absolute;
    left: 68.5%;
    height: 140px;
  }
}